:root {
    --main-color: #0717AB;
}

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto';
    background-color: #f5f6f7;
    min-height: 100vh;
    position: relative;
}

.container {
    margin: auto;
    white-space: nowrap;    
}

.container-menu {
    padding-right: 15px;
}


/* header */

header {    
    background-color: #fff;
    box-shadow: 0 1px 4px 3px rgba(0,0,0,.2);
    position: sticky;
    top: 0;
    padding: 15px 0;
    z-index: 9999;
}

.container-logo {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    white-space: normal;
    min-width: 210px;
}

.container-logo .logo {
    width: 170px;
}

.container-menu {
    display: inline-block;
    width: 70%;
    vertical-align: top;
    white-space: normal;
}

.container-menu .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.container-menu .menu li {
    display: inline;
    padding: 20px 10px; 
    float: left;   
}

.container-menu .menu li a {
    text-decoration: none;
    color: #000;
    font-weight: semibold;
}

.container-menu .menu li a:hover, .container-menu .menu li a.active {
    color: var(--main-color);
    font-weight: bold;
}

/* main */

main {
    padding-top: 30px;
    padding-bottom: 200px;
}

.list-travels, .grid-travels {
    padding-top: 20px;
}

.travel {
    margin-bottom: 15px;
    background-color: #fff;
    border: 0.5px #ccc solid;
    border-radius: 15px;
    color: #000;
    box-sizing: border-box;
}

.travel:hover {
    box-shadow: 0px 0px 3px 3px rgba(0,0,0,.2);
}

.travel-info {
    padding: 15px;
}

.info-date {
    font-size: 14px;
    margin-top: 5px;
}

.info-flyng {
    margin-top: 10px;
    font-size: .95em;
}

.info-services {
    list-style-type: none;
    margin-top: 10px;
}

.info-services li {
    padding: 5px 0;
}
.info-services li span {
    margin-left: 5px;
}

.info-price-old {
    margin-top: 15px;
    text-decoration: line-through;
    color: #ccc;
    font-size: 0.9em;
}

.info-price-current {
    margin-top: 3px;
    font-size: 1.5em;
}

.container-button {
    margin-top: 40px;
    text-align: center;
}

.button {
    border: 1px var(--main-color) solid;
    font-size: 1.2em;
    padding: 15px;
    border-radius: 15px;
    color: var(--main-color);
    text-decoration: none;    
    background: #fff;
}

.button:hover {
    background-color: var(--main-color);
    color: #fff;
}


/* footer */

footer {
    background-color: var(--main-color);
    height: 150px;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
}

footer .container{
    padding-top: 30px;
    padding-bottom: 30px;
}

/* medias querys */

@media screen and (min-width: 1360px) {
    .container {
        width: 1250px;
    }
}